* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 3em 0;
    padding: 0;
}

.outer {
  margin: 0 auto;
  max-width: 480px;
}

.feedbackbar {
    position: fixed;
    width: 100%;
    top: 0;
    max-width: 480px;
}

.playbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    max-width: 480px;
    visibility: hidden;
}

.title {
  font-size: 3.0em;
  font-weight: 600;
  letter-spacing: .1em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
}

.subtitle {
  font-size: .875em;
  text-align: center;
}

.matchstatus {
    display: inline-block;
    margin-left: 85px;
    margin-top: 17px;
}

.toolbartitle {
    font-weight: 900;
}

.score {

}

.signin {
    width: 50%;
    margin: 18px auto;
}

.splashFooter {
   width: 50%;
   margin: 0 auto;
   text-align: center;
}

.playpage {
    margin: 0 auto;
    position: relative;
}

.messageLabel {
  font-size: .875em;
  color: #999;
  padding: 10px;
}

@media (max-width: 400px) {
    body {
        margin: 2em 0 4em 0;
        font-size: 12px;
    }
}
